<%- include('header'); -%>
<div class="box" id="heading">
  <h1><%= listTitle %></h1>
</div>

<div class="box">
  <% newItems.forEach((el)=>{ %>
  <form action="/delete" method="POST">
    <div class="item">
      <input
        type="checkbox"
        name="checkbox"
        value="<%=el._id%>"
        onChange="this.form.submit()"
      />
      <p><%=el.name%></p>
      <input type="hidden" name="listName" value="<%=listTitle%>" />
    </div>
  </form>
  <% }); %>
  <form class="item" action="/" method="POST">
    <input
      type="text"
      name="newInput"
      placeholder="New Item"
      autocomplete="off"
    />
    <button type="Submit" class="button" name="button" value="<%=listTitle%>">
      +
    </button>
  </form>
</div>

<%- include('footer'); -%>
